@import "../../css/helpers";

.section {
  height: 800vh;
  position: relative;
  z-index: 1;
}

.pinned {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  background-color: #000; // ensure black background during pin

  // make the logo significantly larger by default
  --svg-width: #{tovw(1200px)};

  --right: calc(50vw - var(--svg-width) / 2);
}

.animated {
  height: 100vh;
  position: absolute;
  right: var(--right);

  display: flex;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
  font-weight: 900;
  // bump text size up so the marquee feels bolder
  font-size: tovw(650px);

  cursor: default;
  user-select: none;
}

.worldSvg {
  width: var(--svg-width);
  // keep aspect ratio from viewBox; scale via width
  height: auto;
  margin-left: tovw(80px);
}
